
/*div{
	border: 1px solid black;
	text-align: left;*/ /*对齐方式*/
	/*height:200px;*/
	/*line-height:2em; */ /*单行文本 1.2font-size*/
	/*text-indent: 2em;*/ /*缩进*/

	/*text-decoration: underline; *//*none underline overline*/
/*	color: rgb(0, 0, 238);*/
	/*cursor: pointer;*/ /*help resize: */
/*}*/

/*伪类选择器*/
/*a:hover{

	background-color: orange;
	color:#f40;
	font-size:16;
	font-weight:bold;
	font-family:arial;
	border-radius: 10px;

}
*/

div{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	background-color: red;
	margin-left: -50px;
	/*margin-top: -50px*/
	border-radius: 50%;
}